{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
  {% if not original %}
    <script>
      <!-- if the course is not saved, you can't edit the enrollment. -->
      $(document).ready(function(){
        $("#content h1:first").after("To manage student enrollment and lab set, please save the section first.");
      });
    </script>
  {% endif %}
{% endblock %}

{% block object-tools %}
  {{ block.super }}
  {% if original %}
<script>
  $(document).ready(function(){
    $("ul.object-tools").prepend('<li><a id="announcement_link" href="{% url 'lab:admin-lab-section-announcements' original.id %}">Announcements</a></li>')
    $("ul.object-tools").prepend('<li><a id="section_lab_set_link" href="{% url 'lab:admin-lab-section-labs' original.id %}">Lab set</a></li>')
    $("ul.object-tools").prepend('<li><a id="section_enroll_link" href="{% url 'lab:admin-lab-section-enrollment' original.id %}">Enroll students</a></li>')
  });
</script>
  {% endif %}
{% endblock %}

