{% load static %}<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
<title>Error | E-labsheet</title>


<link rel="stylesheet" type="text/css" href="{% static '/admin/css/base.css' %}" />
</head>

<body>
    <div id="header">
        <h1>
            
            <a href="/elab/">E-labsheet</a>

            
        </h1>
    </div>

    

    <!-- Content -->
    <div id="content">
        
        
<div id="first-page">

<h1>Page not found.</h1>
Sorry, something went wrong.<br/>

Please report to the administrator.  Thank you.

</div>

        
    </div>
    <!-- END Content -->

    
<div id="footer" style="font-size: 70%; margin-top: 5px; padding-left: 5px; border-top: 1px lightgrey solid; color: grey;">
Icons from <a href="http://sweetie.sublink.ca/">Sweetie</a>.
</div>

</div>
<!-- END Container -->

</body>
</html>



